
#----------------------------- OMITIR

#todo por defecto
*

#carpetas
filtros/db
filtros/simulation
filtros/qsys

#----------------------------- NO OMITIR

#carpetas
!*/

#no omitir los siguiente archivos con extension
#!*.v
#!*.tcl
#!*.lyx
#!*.cpp
#!*.h
#!*.sh
#!*.tex

#no omitir los siguiente archivos
#!makefile
!.gitignore