
#----------------------------- OMITIR
#todo por defecto
*

#carpetas


#----------------------------- NO OMITIR
#carpetas
!*/

#no omitir los siguiente archivos con extension
#!*.ext

#no omitir los siguiente archivos
#!makefile
